.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-connect{
    margin: 10px;
padding: 10px 40px;
border-radius: 50px;
background: linear-gradient(267deg,#DA7C25 0.36%,#B923E1);
font-size: 22px;
cursor: pointer;
transition: 0.5s;
}

.nav-connect p{
  width: 170px;
  padding: 5px;
  
}
.nav-connect:hover{
    transform: scale(1.05)
}

.logo{
    margin: 5px;
    width: 200px;
    height: 200px;
   
     
  }

  .log{
    margin: 5px;
    width: 50px;
    height: 80px;
    border-radius: 90px 70px 5px ;
    background: linear-gradient(267deg,#DA7C25 0.36%,#B923E1);
     
  }

  .nav-menu li{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }

  .nav-menu li p{
    width: 100px;


  }

  .nav-menu li img{
    display: flex;
    margin: auto;
  }

  .anchor-link{
     text-decoration: none;
     color: white;
  }
  .nav-mob-close{
    display: none;
  }
  .nav-mob-open{
    display: none;
  }



  @media(max-width:768px){
    .navbar{
      margin: 20px 50px;
    }
    .nav-connect{
      display: none;
    }

   
    .nav-mob-open{
      display: block;
      position: fixed;
      right: 30px;
    }

    .nav-mob-close{
      display: block;
      position: relative;
      top: 30px;
      left: 150px;
      width: 30px;
    }

    .nav-menu {
      position: fixed;
      flex-direction: column;
      align-items: start;
      top: 0;
      gap: 30px;
      background-color: #1f0016;
      width: 200px;
      height: 570px;
      z-index: 2;
      transition: right 0.5s;
      right: -350px;
      
    }

    .nav-menu li{
      font-size: 20px;
      padding-left: 60px;
      flex-direction: row;
      gap: 20px;
    }
  }